*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(242, 248, 250);
}
header{
    display: flex;
    justify-content: space-between;
    margin: 40px 40px 0 40px;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
li a{ 
    text-decoration: none;
    color: grey;
    padding: 20px;  
}
 header button{
    padding: 15px;
    border-radius: 5px;
    border: none;
    display: inline-block;
    background-color: rgb(10, 2, 59);
    color: white;   
    cursor: pointer; 
}
main{
    margin-left:  80px; 
    margin-right: 80px;
}
main button{
    padding: 13px ;
    background-color: rgb(10, 2, 59);
    border: none;
    color: grey;
    border-radius: 25px;
    margin-top: 80px;
    margin-bottom: 20px;
}
main button a{
    color: gray;
}
.font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 2, 59);
    line-height: 50px;
    margin: 1px;
}
.font-2{
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    font-weight: lighter;
    line-height: 20px;
}
.image_1{
    max-width: 25%;
    position: absolute;
    top: 180px;
    right: 200px;
}
form{
    padding-top: 20px;
}
input{
    padding: 10px;
}
.email{
    width: 250px;
}
.submit{
    padding: 15px;
    border-radius: 3px;
    border: none;
    display: inline-block;
    background-color: rgb(10, 2, 59);
    color: white;   
    cursor: pointer; 
} 
.logos{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: gray;
    padding-top: 50px;
    padding-bottom: 20px;
}
@media screen  and (min-width: 600px) and (max-width : 900px){
    
    .image_1{
        display: none;
    }
    main{
        margin-left: 40px;
        margin-right: 40px;
    }
    main button{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .font, .font-2{
        text-align: center;  
    }
    .font{
        font-size: 3.5em;
        line-height: 70px;
        margin-bottom: 10px;
        font-weight: 500;
    }
    .font-2{
        font-size: 1.2em;
        line-height: 30px;
        margin-bottom: 20px;
    }
    br{
        display: none;
    }
    .sidenav{
        background-color: skyblue;
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        text-align: center;
    }
    .closenav{
        background: transparent;
        color: black;
        font-size: 40px;
        position: relative;
        bottom: 20px;
        left: 50px;
    }
    .hamnav{
        position: absolute;
        top: 50px;
        right: 15px;
        font-size: 30px;
        
    }
    .sidenav ul{
        margin-top: 40px;
    }
    .sidenav a{
        display: block;
    }
    .waitlist{
        width: 80%;
        margin-top: 40px;
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .email{
        width: 60%;
        margin-right: 15px;
    }
    .social-icons > a{
        margin-right: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width : 520px) {
    .image_1{
        display: none;
    }
    .social-icons > a{
        margin-right: 10px;
    }
    br{
        display: none;
    }
   .font, .font-2{
    text-align: center;
   }
   .font{
    font-size: 2em;
    line-height: 40px;
    font-weight: 600;
   }
   .font-2{
    font-size: 18px;
    line-height: 30px;
   }
   input{
    width: 100%;
   }
   input[type = "email"]::placeholder{
    color: gray;
   }
   .email{
    margin-bottom: 10px;
    width: 100%;
   }
   .submit{
    display: block;
   }
   main{
    margin-left: 20px;
    margin-right: 20px;
   }
   main button{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   }
<<<<<<< HEAD:Files/style.css
   .sidenav{
    background-color: skyblue;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    text-align: center;
   }
   .closenav{
    background: transparent;
    color: black;
    font-size: 40px;
    position: relative;
    bottom: 20px;
    left: 50px;
   }
   .hamnav{
    position: absolute;
    top: 50px;
    right: 15px;
    font-size: 30px;
    
   }
   .sidenav ul{
    margin-top: 40px;
   }
   .sidenav a{
    display: block;
   }
   .waitlist{
    width: 80%;
    margin-top: 40px;
   }
}
@media screen and (min-width : 1240px) and (max-width : 1440px) {
    .hamnav{
        display: none;
    }
    .closenav{
        display: none;
    }
}
=======
}
>>>>>>> 82429ad681b48ca9f49bc878c9776360eb312009:style.css
